$backgroundBlue: #2388ec;
$textBlue: #007dfa;
$buttonBlue: #0060bf;
$titleGradient: linear-gradient(93deg, rgb(252, 252, 252) 0%, rgb(52, 215, 237, 1) 100%) 10;
$boxShadowColor: rgba(0, 0, 0, 0.25);
$modalTextColor: #6e7e9d;
$modalTextBlue: #30adca;
